/* hero section */
.hero {
    height: 660px;
    background-color: #f8f8f8;
    background-image: url(../images/bg-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

.hero div {
    position: absolute;
    bottom: 60px;
    right: 35%;
    display: grid;
    background-color: #ca315ad2;
    height: 150px;
    width: 150px;
    place-items: center;
    border-radius: 100%;
    box-shadow: -18px 6px 0 0 #c8c10f;

}

.hero div h3 {
    text-align: center;
    width: 70px;
    color: #ffffffee;
    font-size: 25px;
    ;

}

/* Section: new products */
.new-product {
    background-color: #eae7e8;
}

.left-content {
    display: inline-block;
    width: 65%;
    vertical-align: top;
    margin-top: 70px;
}

.left-content h2 {
    text-align: left;
    font-size: 22px;
    color: grey;
    margin-bottom: 10px;
}

.left-content h3 {
    text-align: left;
    font-size: 36px;
    color: #E32A62;
    margin-bottom: 15px;
}

.left-content p {
    text-align: left;
    font-size: 16px;
    color: #7a6666;
}


.image-right {
    display: inline-block;
    width: 34%;
}

/* 4 colum section */
.four-column {
    background-color: #c8c10d;
    padding: 90px 0px;
}

.column {
    text-align: center;
    display: inline-block;
    width: 24%;
    color: #ffffff;

}

.column i {
    margin-bottom: 25px;
    font-size: 50px;

}